@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Raleway:wght@400;500;700&family=Source+Sans+Pro:wght@700&display=swap');

body footer {
    margin-top: unset !important;
}

footer .text-light {
    color: #f8f9fa !important;
}

footer.page-footer {
    padding-bottom: 80px;
    font-family: "Raleway", sans-serif;
    background-image: url('https://cakhiatvhd.com/static/frontend/img/bg-footer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

footer.page-footer .container {
    padding: 0px 120px;
}

footer.page-footer .text-center {
    text-align: center !important;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

footer.page-footer .text-center,
footer.page-footer a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    color: #afb4ba;
}

footer.page-footer #menu-footer li a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #009b3a !important;
}

footer .pt-4,
footer .py-4 {
    padding-top: 1.5rem !important;
}

footer .mb-3,
footer .my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

footer .d-block {
    display: block !important;
}

footer .mb-0,
footer .my-0 {
    margin-bottom: 0 !important;
}

footer .text-gray {
    color: #9c9c9c;
}

footer p {
    margin-top: 0;
    margin-bottom: 1rem;
}

footer .p-0 {
    padding: 0 !important;
}

footer .mb-0,
footer .my-0 {
    margin-bottom: 0 !important;
}

footer .justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

footer .d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

footer .navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer .nav-link,
footer .banner .nav a {
    display: block;
    padding: 0.5rem 1rem;
}

footer .m-auto {
    margin: auto !important;
}

footer .w-50 {
    width: 50% !important;
}

@media screen and (max-width: 700px) {
    footer .container {
        padding: 0px 20px !important;
    }
}


@media screen and (min-width: 1666px) {
    footer .container {
        /*padding: 0px 400px !important;*/
    }
}


footer .social-box {
    position: relative;
}

footer .social-box ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

footer .social-box ul li a {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #fff;
    margin-right: 5px;
    border-radius: 10px;
    cursor: pointer;
}

footer .social-box ul li a i {
    font-size: 18px;
}

footer .social-box ul li a.yt {
    background: #F61C0D;
}

footer .social-box ul li a.fb {
    background: #4267B2;
}

footer .social-box ul li a.tw {
    background: #55ACEE;
}

footer .social-box ul li a.te {
    background: #389CE9;
}