#app{position:relative;background:#040C1F;min-height:100vh}#app main{margin:20px 0}#app main .card{background:#040C1F;border:none}#app main .card.new-shoot .card .card-body{background-color:#fff}#app main .card .card-header{background-color:#2C354C;margin-bottom:20px;border-radius:5px}#app main .card .matches{font-size: 15px;height:140px;border-radius:10px;background-color:#2C354C;margin-bottom:5px;background-image:url(../img/bg-match.svg);background-position:center center;background-size:cover;color:#fff;transition:background-color 200ms linear}#app main .card .matches .card-channel a{vertical-align: super;}#app main .card .matches .card-body{padding-bottom: 0;padding-top: 0.5rem;}#app main .card .matches.p-1{background-color: #1f2f38;} #app main .card .matches .hot-match{position:absolute;right:0;top:0;padding:2px 20px;background:#F77948;transition:.3s;border-top-right-radius:10px;border-bottom-left-radius:10px}#app main .card .matches .date-match{position:absolute;left:0;top:0;padding:0px 15px;background:#8290b6;transition:.3s;border-top-right-radius:10px;border-bottom-left-radius:10px}#app main .card .matches .live-match,#app main .card .matches .live-bet{margin: 0 auto 0.5rem;
    width: 90px;
    background: #F77948;
    transition: .3s;
    text-align: center;
    font-size: 15px;
    border-radius: 3px;
    padding: 2px 2px;
}#app main .card .matches .team-home,#app main .card .matches .team-away{color:#fff;flex:1;display:flex;justify-content:space-around;align-items:center;font-weight:600}#app main .card .matches .team-home img,#app main .card .matches .team-away img{width:65px;}#app main .card .matches .status-box{text-align:center}#app main .card .matches .status-box .score{font-size:20px;margin-bottom:15px}#app main .card .matches .status-box .status{color:#fff;padding:2px 10px;display:flex;align-items:center;justify-content:center;border-radius:30px}#app main .card .matches .status-box .status.green{background:#0F6F37}
#app main .card .matches .bet{
    
    /*
    z-index: 99999;
    
    right: 0;
    bottom: 0;
    padding: 2px 20px;
    background: #F77948;
    transition: .3s;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    */
    display:         flex;
    flex-wrap:       wrap;
    justify-content: center;
}
#app main .card .matches .bet .bet-match, .navbar-header .bet-match{
    margin-right: 0.5em;
    color: #fff;
    z-index: 990;
}
.navbar-header .bet-match{
    color: #fff;
    z-index: 990;
    background: #1e73be;
    border-radius: 4px;
}
.navbar-header .bet-match h5{
    margin: 0.2em;
}
#app main .card .matches .bet .live-match{
    
}
#app main .card .matches .toDetail{position:absolute;width:100%;height:100%;display:none;justify-content:center;background-color:rgba(0,0,0,0.16);align-items:center;border-radius:10px;transition:.3s}#app main .card .matches .toDetail i{font-size:50px;color:#fff}#app main .card .matches:hover{background-color:rgba(37,121,67,0.5)}#app main .card .matches:hover .hot-match{background:#fff !important;color:#353535}#app main .card .matches:hover .toDetail{display:flex}#app main .card .nha-cai{display:block;overflow:hidden;background:#1A1D23}#app main .card .nha-cai .box-child{position:relative;height:100%;padding:10px;overflow-y:auto}#app main .card .nha-cai .box-child::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);background-color:#F5F5F5}#app main .card .nha-cai .box-child::-webkit-scrollbar{width:10px;background-color:rgba(80,156,208,0.38);border-radius:40px}#app main .card .nha-cai .box-child::-webkit-scrollbar-thumb{background-color:rgba(80,156,208,0.58);border:1px solid rgba(80,156,208,0.58);border-radius:40px}#app main .card .nha-cai .box-child .child{position:relative;display:flex;background:#040C1F;margin-bottom:10px}#app main .card .nha-cai .box-child .child .top{padding:2px 12px;background:#E11D23;font-size:12px;z-index:2;text-align:center;position:absolute;top:0;font-weight:bold;border-bottom-right-radius:10px;left:0}#app main .card .nha-cai .box-child .child img{z-index:1;position:relative;width:220px;object-fit:cover;height:100%}#app main .card .nha-cai .box-child .child .content{flex:1;text-align:center;font-size:13px;padding:10px}#app main .card .nha-cai .box-child .child .content .price{margin-top:5px;font-weight:bold}#app main .card .nha-cai .box-child .child .content button{margin-top:10px}#app main .card .nha-cai h4{padding:10px 20px;background:#2C354C;margin-bottom:0}#app main .card .nha-cai .sub-title{color:#009A3F}#app main .card #newList .card-img-top{height:150px;object-fit:cover}#app main .card #newList .card-body{padding:10px}#app main .card #newList .card-body .card-text{font-size:13px}#app main .card .card-header{border-color:#414141}#app main .btn-main{background:#52AF23;border-color:#52AF23}#app main .loadmore{color:#AEB4C7;font-size:13px}
/*# sourceMappingURL=index.css.map */




        /* style pendaica overide */
        #app main .card .matches {
            height: 180px;
            background: url(../static/frontend/img/bg-match1.png) no-repeat 50% #0d112d;
            background-position: center center;
            transition: background-color 200ms linear;
            box-shadow: 2px -2px 4px #ff6600, -2px 2px 4px #ff5e00;
            border-radius: 4px;
            margin: 10px;
          }
          #app main .card .matches .card-body {
              padding: 0 !important;
              flex-direction: column;
              overflow: hidden;
          }
          #app main .card .matches .status {
            width: fit-content;
            transform: skew(-20deg);
            background: rgb(255, 191, 0);
            text-align: center;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            padding: 4px 10px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px, rgba(0, 0, 0, 0.25) 4px 4px 4px inset;
            max-width: 60%;
            margin: 0px;
            line-height: 1.5;
            letter-spacing: 0.00938em;
            color: black;
            font-weight: 700;
            font-size: 0.8em;
          }
          .row-tour {
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: center;
              position: relative;
          }
          #app main .card .matches .hot-match {
            transform: skew(-20deg);
            background: rgb(255 0 0) !important;
            text-align: center;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            padding: 4px 10px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px, rgba(0, 0, 0, 0.25) 4px 4px 4px inset;
            line-height: 1.5;
            color: #fff;
            font-weight: 700;
            font-size: 0.8em;
            border-radius: 0;
            right: -6px;
            padding-right: 15px;
          }
          .content-card {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              width: 100%;
          }
          .content-card .team-home , .content-card .team-away{
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 50%;
          }
          #app main .card .matches .team-home img, #app main .card .matches .team-away img {
              width: 50px;
              max-height: 65px;
          }
          .name-team-center {
              text-align: center;
              width: auto;
              padding: 5px;
              line-height: 20px;
              white-space: nowrap;
              text-overflow: ellipsis;
              display: block;
              overflow: hidden;
              width: 100%;
              font-size: 0.8rem;
          }
          .hidden {
              display: none !important;
          }
          .row-bottom-card {
              display: flex;
              flex-direction: row;
              width: 100%;
              z-index: 1;
              background: rgba(0, 0, 0, 0.28);
              position: relative;
              justify-content: space-between;
              padding: 5px 0;
              align-items: center;
          }
          #app main .card .matches .date-match {
            position: relative;
            background: none;
            font-weight: 700;
            font-size: 0.9rem;
            padding: 0 10px;
          }
          .control-chanel {
              display: flex;
              flex-direction: row;
              margin-right: 8px;
          }
          .link-chanel {
              z-index: 2;
              background: rgb(255 191 0);
              padding: 0px 10px;
              padding-left: 8px;
              border-radius: 20px;
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              width: fit-content;
              margin: 0 3px;
          }
          .link-chanel a {
              color: #000 !important;
              font-size: 0.8rem;
              font-weight: 700;
          }
          .link-chanel svg {
              width: 15px;
              margin-right: 2px;
          }
          span.lb-live {
            transform: skew(-20deg);
            background: red;
            text-align: center;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            padding: 3px 6px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px, rgba(0, 0, 0, 0.25) 4px 4px 4px inset;
            margin: 0px;
            letter-spacing: 1px;
            color: #fff;
            font-weight: 700;
            font-size: 0.7em;
            width: 40px;
            position: absolute;
            left: calc(50% - 20px);
            bottom: 4px;
          }
          #app main .card .matches:hover {
              background-color: transparent;
          }
          @media(max-width: 767px){
            .row-pen .col-4 {
              width: 100%;
            }
            #app main .card .matches {
                background-size: 100%;
            }
          }